.toggle-button {
  position: absolute;
  top: 0;
  width: 2.5rem;
  height: 3rem;
  right: -2.4rem;
  border: none;
  background-color: #3b4252;
  color: #e5e9f0;
  font-size: 1.5rem;
  cursor: pointer;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
